{% extends 'main/base.html' %}

{% block title %}
About
{% endblock %}

{% block content %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
  <h1 class="display-4 fw-normal text-body-emphasis">ABOUT MY WAY AS A DEVELOPER</h1>
  <p class="fs-5 text-body-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum vel reiciendis 
    sunt ullam necessitatibus fugit iure esse, voluptates eaque alias quam corporis non quo dignissimos aperiam dolorum
     officia, neque temporibus voluptatibus ducimus id. Vero cum suscipit a adipisci accusamus eligendi in et voluptates 
     architecto, impedit esse ut pariatur ducimus blanditiis voluptate aspernatur labore velit itaque magni debitis distinctio 
     vitae obcaecati! Deserunt debitis reiciendis rem dignissimos. Quis rerum fugit iure molestiae dicta minus exercitationem
     commodi totam quas excepturi, tempore corporis quam unde alias sapiente!</p>
</div>
{% endblock %} 




